/* src/pages/HomePage.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7; /* Very light gray background */
}

.homepage {
  padding: 20px;
}

.main-section {
  position: relative;
  height: 75vh; /* Adjust the height to fit 2/3 of the viewport height */
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 60px; /* Increase the padding to make the background larger */
  text-align: center;
  /* border-radius: 5px;  */
}

.categories-section, .featured-products-section, .newsletter-section {
  margin-top: 40px;
}

.categories-section h2, .featured-products-section h2, .newsletter-section h2 {
  margin-bottom: 20px;
  font-size: 30px; /* Increase font size for headers */
  font-weight: 700; /* Make headers bold */
  text-align: center; /* Center align the headers */
  color: #333; /* Darker color for better visibility */
  text-transform: uppercase; /* Uppercase text for a more professional look */
}

.categories, .products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category, .product {
  text-align: center;
  margin-bottom: 20px;
}

.category img, .product img {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  /* border-radius: 5px; */
}

.category-name, .product-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #555; /* Slightly darker color for category/product names */
}

.view-all {
  margin-top: 10px;
}

.view-all button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white; /* White text color */
  background-color: #007bff; /* Blue background color */
  border: none; /* No border */
  border-radius: 5px;
  cursor: pointer;
}

.view-all button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.newsletter-section form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-section input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.newsletter-section button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.newsletter-section button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
