@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7; 
}

.men-page .breadcrumb-item {
  font-size: 18px;
  color: #555; 
  padding: 0; 
}

.men-page .breadcrumb-item a {
  color: #555; 
  text-decoration: none; 
}

.men-page .breadcrumb-item a:hover {
  color: #aaa; 
  text-decoration: none; 
}

.men-page .breadcrumb-item:first-child {
  margin-right: 10px; 
}

.men-page .section-title {
  font-size: 30px; 
  font-weight: 200;
  text-align: center;
  color: #333; 
  text-transform: uppercase;
  margin-bottom: 20px;
}

.men-page .filter-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.men-page .filter-dropdown .dropdown-toggle {
  color: #333;
  text-decoration: none; 
  font-size: 18px;
  font-weight: 400;
}

.men-page .filter-dropdown .dropdown-toggle:hover {
  color: #aaa;
  text-decoration: none; 
}

.men-page .products {
  margin-top: 20px;
}

.men-page .product {
  margin-bottom: 20px;
}

.men-page .collapse-button {
  display: block;
  width: 100%;
  text-align: left;
  margin: 10px 0;
  background: none;
  border: none;
  padding: 0;
  color: #007bff;
  cursor: pointer;
  outline: none;
}

.men-page .collapse-button:focus {
  outline: none;
}

.men-page .collapse-button::after {
  content: '\25bc'; /* Unicode for down arrow */
  float: right;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.men-page .collapse-button[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.men-page .mr-2 {
  margin-right: 0.5rem;
}

.men-page .mb-2 {
  margin-bottom: 0.5rem;
}

.men-page .size-options .btn-dark {
  background-color: gray;
  border-color: gray;
}

.men-page .cart-buttons .btn-primary {
  background-color: blue;
  border-color: blue;
}

.men-page .cart-buttons .btn-outline-dark {
  background-color: gray;
  border-color: gray;
  color: white;
}

.men-page .cart-buttons .btn {
  margin-right: 10px;
  text-transform: none;
}

.men-page .cart-buttons .btn:last-child {
  margin-right: 0;
}
