/* src/App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation-panel {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold; /* Makes the text bold */
}

.navigation-panel a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.navigation-panel a:hover {
  color: #61dafb;
}

.content {
  padding: 20px;
}
